<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Node.JS Prac</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="/public/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <%-include('navbar.ejs')%>
      <h1 class="text-center my-4">Chat</h1>
      <ul class="list-group mt-4">
        <%chatroom.forEach((item,idx)=>{%>
        <li class="list-group-item mx-auto chat-info" data-id="<%=item._id%>">
          <%if(!item.image) {%>
          <img src="/public/index-img.jpg" class="chat-list-img" />
          <%} else {%>
          <img src="/images/<%=item.image[0]%>" class="chat-list-img" />
          <%}%> <%if(item.title.length > 10) {%>
          <h4><%=item.title.substring(0,10)+" ..."%></h4>
          <%} else {%>
          <h4><%=item.title%></h4>
          <%}%>
        </li>
        <%});%>
      </ul>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      $('.chat-info').click(function (e) {
        let id = $(this).data('id');
        let writer = $(this).data('writer');
        let title = $(this).data('title');
        window.location.href = `/chat/roomid/${id}`;
      });
    </script>
  </body>
</html>
